<h1>New ticket</h1>

<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :hardware_id %><br />
    <%= f.text_field :hardware_id %>
  </p>
  <p>
    <%= f.label :software_id %><br />
    <%= f.text_field :software_id %>
  </p>
  <p>
    <%= f.label :document_id %><br />
    <%= f.text_field :document_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tickets_path %>
