<p>
  <b>Title:</b>
  <%=h @ticket.title %>
</p>

<p>
  <b>Body:</b>
  <%= textilize(@ticket.body) %>
</p>

<p>
  <b>Hardware:</b>
  <%=h @ticket.hardware_id %>
</p>

<p>
  <b>Software:</b>
  <%=h @ticket.software_id %>
</p>

<p>
  <b>Document:</b>
  <%=h @ticket.document_id %>
</p>

<%#= link_to 'Destroy', @ticket, :confirm => 'Are you sure', :method => :delete %>
<% if @ticket.hardware %>
	<%= link_to 'Edit', edit_hardware_ticket_path(@ticket.hardware, @ticket) %> 
<% elsif @ticket.software %>
	<%= link_to 'Edit', edit_software_ticket_path(@ticket.software, @ticket) %>
<% else %>
	<%= link_to 'Edit', edit_document_ticket_path(@ticket.document, @ticket) %>	
<% end %>
<%#= link_to 'Back', hardware_tickets_path %>
