<% form_tag documents_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Documents", :name => nil %>
	</p>
<% end %>

<h1>Documents</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for document in @documents %>
  <tr>
    <td><%= link_to document.title, document %></td>
	<td><%= document.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @documents %>

<br />

<%= link_to 'New document', new_document_path %>
