<h1>Editing hardware_type</h1>

<% form_for(@hardware_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @hardware_type %> |
<%= link_to 'Back', hardware_types_path %>
