<p>
	<b>Created On:</b>
	<%= @hardware.created_at.strftime("%m/%d/%Y")%>
<p>
	<b>Hardware Type:</b>
	<%= @hardware.hardware_type.name %>
</p>
<p>
  <b>Serial Number:</b>
 <%=h @hardware.serial_number %>
</p>

<p>	
  <b>Brand:</b>
  <%=h @hardware.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @hardware.model %>
</p>

<p>	
  <b>Ip:</b>
  <%=h @hardware.ip %>
</p>

<p>
  <b>Mac:</b>
  <%=h @hardware.mac %>
</p>

<p>
  <b>Description:</b>
  <%= textilize(@hardware.description) %>
</p>

<% if @hardware.owner %>
	<p>
		<b>Current User:</b> <%= @hardware.owner.name %>
	</p>
<% end %>

<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>


<h2>User Assignment </h2>
<% form_for(@hardware) do |f| %>
	<%#= select("owner","owner_id", Owner.find(:all).collect {|p| [p.name, p.id]}, { :include_blank => false }) %>
	<%= select("owner","owner_id", Owner.find(:all, :order => "name").collect {|p| [p.name, p.id]}, { :include_blank => false, :selected => @hardware.owner.id}) %>
	<%= f.submit "Add User" %>
<% end %>


<h2>New ticket</h2>
<% form_for :ticket, @ticket, :url => hardware_ticket_path(@hardware,@ticket) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 5 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<h3>Current Tickets</h3>
<% for ticket in @hardware.tickets %>
	<%= link_to ticket.title, hardware_ticket_path(@hardware, ticket) %>
	<%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %><br>
<% end %>
